<p>switchdirective works!</p>

    <input #inputcolor type="text" placeholder="Enter the color name"><br><br>
    <button (click)="onSend(inputcolor.value)">Send</button>
    <hr>

    <div [ngSwitch]="choice">
        <div *ngSwitchCase="'red'"
            [style.background]="choice"
        >U r color name is {{choice}} </div>
        <div *ngSwitchCase="'green'"
        [style.background]="choice">U r color name is {{choice}} </div> 

        <div *ngSwitchCase="'blue'" 
        [style.background]="choice">U r color name is {{choice}} </div>

        <!-- <div *ngSwitchDefault 
            [style.background]="choice===''?'black':'orange'"
            [style.color]="choice===''?'white':'black'"
        >Ur color is wrong {{choice}} </div> -->

        <div *ngSwitchDefault 
            [ngStyle]=" {
            'background':choice===''?'black':'orange',
            'color':choice===''?'white':'black'
            }"
        >Ur color is wrong {{choice}} </div>
    </div>
    

