<h2>My first Angular Application </h2>
<!-- <app-employee></app-employee> -->
<!-- <app-stringinterpolarion></app-stringinterpolarion> -->
<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-eventbinding1></app-eventbinding1> -->
<!-- <app-eventbinding2></app-eventbinding2> -->
<!-- <app-eventbinding3></app-eventbinding3> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-parent></app-parent> -->
<!-- <app-inbildpipe></app-inbildpipe> -->
<!-- <app-custompipe></app-custompipe> -->
<!-- <app-course></app-course> -->
<app-post></app-post>