<p>parent works!</p>
<h2> {{strDataReceived}} </h2>

<table>
    <thead>
        <tr>
            <th>Sr No</th>
            <th>Product name</th>
            <th>Product Price</th>
            <th>Product Quantity</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let item of arrdata;index as i">
            <td> {{i+1}} </td>
            <td> {{item.name}} </td>
            <td> {{item.price}} </td>
            <td> {{item.qty}} </td>
        </tr>
    </tbody>
</table>

<hr>
<!-- <app-child1 [parentStrData]="strData"
            [parentJsonData]="jsonObj"
></app-child1> -->

<app-child2 (ChildStrEvent)="strDataReceived=$event"
            (ChildArrObjEvent)="arrdata=$event">
    
</app-child2>