<p>inbildpipe works!</p>

<!-- syntax=>
    {{propertyname | pipename}}
-->

<!-- <h2> {{strData}} </h2>
<h2> {{strData | lowercase }} </h2>
<h2> {{strData | uppercase }} </h2>
<h2> {{strData | titlecase }} </h2>
<h2> {{strData | slice :1:10 }} </h2>
<h2> {{strData | slice :1 }} </h2> -->

<!-- <h2> {{0.25 | percent}} </h2>
<h2> {{0.025 | percent:'1.1'}} </h2>
<h2> {{0.0251 | percent:'1.1'}} </h2>

<h2> {{0.09123 | percent:'2.2'}} </h2> -->

 <!-- <h2> {{0.25 | currency}} </h2>     
<h2> {{25 | currency : 'INR'}} </h2> 
   <h2>{{25 | currency :'INR ':'code'}} </h2>
   <h2>{{0.25 | currency :'GBP'}} </h2>  -->

                 
<!--      
 <h2>  {{5.6783462 | number : '1.2-3'}} </h2> 
 
     <h2>  {{5.678456 | number : '1.2-3' }} </h2>
            
  <h2>  {{5.678556 | number : '2.2-3' }} </h2> 
                  
   <h2>  {{5.6 | number : '2.2-3' }} </h2>
  
     <h2>  {{5.678556 | number:'2.4-6'}} </h2>
  
   <h2>  {{5.555556 | number : '2.2-3' }} </h2>
                 
      <h2>{{6.555500 | number : '2.2-3' }}</h2>
 
      <h2> {{65.678556 | number : '1.2-3'}} </h2>
                        
  <h2> {{num2 |number : '2.2-3' }} </h2> -->
  <!-- -452.78956324557 -->
    

  <h3> {{mydate}} </h3>
 
  
  <h3> {{ mydate | date:'mediumDate'}} </h3>
 
<h2> {{mydate | date : 'shortDate'}} </h2>
      
<h2> {{mydate | date : 'dd-MM-yyyy'}} </h2>
<h2> {{mydate | date : 'dd/MM/yyyy'}} </h2>
               
<h2> {{mydate | date : 'dd'}} </h2>
<h2> {{mydate | date : 'MM'}} </h2>
<h2> {{mydate | date : 'yyyy'}} </h2>

<h2> {{mydate | date : 'yy'}} </h2 >
        
<h2> {{mydate | date : 'longDate'}} </h2>  

<!-- chaining of pipe   -->

 <h2> {{mydate | date:'longDate' | uppercase  }} </h2>

  
<h2> {{mydate | date : 'hh:mm:ss a'}} </h2>

<!-- angular.io -->






