<p>home works!</p>

<a routerLink="/Page1">Page1</a> 
<a [routerLink]="['/Page2',myid]">Page2</a> 
<a [routerLink]="['/Page3',myid,myusername]">Page3</a> 
<a routerLink="/Follower">follower</a> 
<a routerLink="/QueryParameter" [queryParams]="myjson" >query paramter</a> 



<hr>
<button (click)="onPage1()" >Page1</button>
<button (click)="onPage2()" >Page2</button>
<button (click)="onPage3()" >Page3</button>
<button (click)="onFollower()" >Follower</button>
<button (click)="onQueryparam()" >Queryparameter</button>
<hr>
<a routerLink="/user">User</a>